@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.quicksand-400 {
  font-weight: 400;
}
.quicksand-500{
  font-weight: 500;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: grey;
}
:root{
  --bg-color : #0d1117;
  --bg-color-2 : #151c25;
  --bg-btn-color : #ffffff12;
  --text-bgblue-color : #0078d4;
  --text-link-color : #9fb1d1;
  --text-heading-color : #e6eefa;
  --text-link-color-2 : #4daafc;

  --text-font : "Quicksand", serif;
  --text-font-2: "Montserrat", serif;
}
body{
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}

header{
  /* background-color: blue; */
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  box-shadow: 0 0 1px grey;
}
header a {
  color: var(--text-link-color);
}
header nav{
  /* background-color: white; */
  width: 80%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
header nav section#icon-text{
  display: flex;
  gap: .5rem;
  color: var(--text-heading-color);
}
header nav section#links{
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}


header section.misc{
  width: 80%;
  /* background-color: blue; */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
header section.misc button, header section.misc input{
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid grey;
}
header section.misc .btn-color-mode{
  height: 40px;
  width: 40px;
  border: none;
  padding: 10px;
}
header section.misc .btn-color-mode:hover{
  background-color: rgba(92, 83, 83, 0.267);
  border-radius: 5px;
}
header section.misc .btn-color-mode img{
  width: 100%;
  height: 100%;
  color: white;
}

header section.misc button.btn-download{
  background-color: var(--text-bgblue-color);
  padding: 2px 16px;
  color: white;
  font-family: var(--text-font);
  font-weight: 900;
  border: none;
  font-size: 1rem;
  border-radius: 3px;
}

header section.misc .search-input-box{
  gap: .5rem;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  padding: 2px 16px;
}
header section.misc .search-input-box input{
  border: none;
  outline: none;
}
.search-input-box img{
  width: 30px;
  height: 30px;
}

.vscode-icon{
  height: 30px;
  width: 30px;
}

main{
  /* background-color: grey; */
  width: 100%;
  padding: 1rem;
}

main section#sec-1{
  width: 100%;
  /* background-color: blue; */
}


main section#sec-1 #sec-1-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section#sec-1 h1{
  font-size: 4.5rem;
  font-family: var(--text-font-2);
  color: var(--text-link-color);
}

main section#sec-1 section#download-btn{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

main section#sec-1 section#download-btn button{
  padding: 1rem;
  border: none;
  border-radius: .25rem;
}

main section#sec-1 section#download-btn button.btn-custom-1{
  background-color: var(--text-bgblue-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: .25rem;
  color: white;
  font-family: var(--text-font);
}
main section#sec-1 section#download-btn button.btn-custom-1 > *{
  justify-self: center;
}
main section#sec-1 section#download-btn button.btn-custom-1 small.dist-ext{
  font-size: 1rem;
  font-weight: 600;
}
main section#sec-1 section#download-btn button.btn-custom-1 small.dist-name{
  font-size: .75rem;
  font-weight: 500;
}
button.btn-custom-2{
  padding: 1rem;
  border: none;
  border-radius: .25rem;
  background-color: var(--bg-btn-color);
  font-family: var(--text-font);
  font-size: 1.25rem;
  color: var(--text-heading-color);
}


main section#sec-1 section#download-btn button.btn-custom-1 img{
  height: 20px;
  width: 20px;
}

main section#sec-1 section#download-btn button.btn-custom-1 small.dist-name{
  grid-column-start: 1;
  grid-column-end: 3;
}



section#download-btn-other{
  width: 100%;
  color: var(--text-heading-color);
  font-family: var(--text-font);
  font-weight: 600;
  font-size: .85rem;
}
section#download-btn-other p{
  text-align: center;
  color: var(--text-link-color);
}
section#download-btn-other p a{
  color: var(--text-link-color-2);
  text-decoration: underline;
}


section#agreement{
  color: var(--text-heading-color);
  font-family: var(--text-font);
  font-size: .75rem;
  text-align: center;
  padding: 1rem;
}

section#agreement p{
  opacity: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

section#agreement:hover p{
  opacity: 1;
}

section#sec-2{
  width: 100%;
  display: flex;
  justify-content: center;
}
section#sec-2 div.div-video{
  width: 80%;
  background-image: repeating-linear-gradient(var(--text-bgblue-color), white, var(--text-bgblue-color));
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}
section#sec-2 video{
  width: 95%;
  height: auto;
  border-radius: 1rem;
}

main#main-2{
  width: 100%;
}


main#main-2 div#sec-21-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

main#main-2 section#sec-21{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

main#main-2 section#sec-21 article{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 360px;
  background-color: var(--bg-color-2);
  box-shadow: 0px 0px 2px grey;
  padding: 1rem;
  color: var(--text-heading-color);
  border-radius: 1rem;
}

main#main-2 section#sec-21 article div{
  height: 180px;
  width: 100%;
  font-family: var(--text-font-2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main#main-2 section#sec-21 article div p{
  font-size: .9rem;
  color: var(--text-link-color);
  font-weight: 500;
}

main#main-2 section#sec-22{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

main#main-2 section#sec-22 article{
  width: 80%;
  padding: 3rem;
  color: white;
  display: flex;
  align-items: center;
  background-image: repeating-linear-gradient(45deg, var(--text-bgblue-color), darkblue, black, black,  darkblue, var(--text-bgblue-color));
  font-family: var(--text-font-2);
}

main#main-2 section#sec-22 article > *{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}


main#main-3{
  width: 100%;
}

.sec-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.main-3-sec{
  width: 80%;
  display: flex;
  color: var(--text-heading-color);
  font-family: var(--text-font);
  gap: 5rem;
}
.main-3-sec div.desc{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.main-3-sec div.desc a{
  color: var(--text-link-color-2);
  text-decoration: underline;
}
.main-3-sec div.desc-img{
  width: 70%;
}
.main-3-sec div.desc-img img{
  width: 100%;
  border-radius: 1rem;
}

.desc-grids{
  width: 70%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.desc-grids > div{
  display: flex;
  gap: 1rem;
  border: none;
  box-shadow: 0 0 5px var(--bg-color-2);
  border-radius: .5rem;
  padding: 1rem;
  background-color: var(--bg-color-2);
}
.desc-grids > div > img{
  width: 30px;
  height: 30px;
}

#sec-34-wrapper #sec-34 .desc-grids div {
  align-items: center;
  background-color: transparent;
  box-shadow: none;
}

main#main-4{
  width: 100%;
  display: flex;
  justify-content: center;
}

section#main-41{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-family: var(--text-font-2);
}

section#main-41 > h1{
  color: var(--text-heading-color);
}
section#main-41 > p{
  color: var(--text-link-color);
}

section#main-41 div#main-4-grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem 0;
  gap: 1rem;
  color: var(--text-heading-color);
}

section#main-41 div#main-4-grid > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-color-2);
  border-radius: .5rem;
  box-shadow: 0 0 2px white;
}

section#main-41 div#main-4-grid > div > img{
  width: 40px;
  height: 40px;
}

section#main-41 div#main-4-grid > div > h3{
  font-size: 1rem;
}
section#main-41 div#main-4-grid > div > p{
  color: var(--text-link-color);
  font-size: .9rem;
}




footer{
  padding: 4rem 1rem 8rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--text-font-2);
}
footer div#footer-box{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer div#footer-box #contact-links{
  display: flex;
  gap: 1.5rem;
  position: relative;
}

footer div#footer-box #contact-links .right-align{
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

footer #contact-links img{
  width: 20px;
  height: 20px;
}

footer div#footer-box #links{
  display: flex;
  gap: 1.5rem;
  font-size: .75rem;
  font-weight: 600;
}